.changePassword_content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .password {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 40%;
    left: 20%;
    flex-direction: column;
    margin-top: 10px;

  }


  .passbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 280px;
    height: 40px;
    top: 40%;
    left: 45%;
    background-color: #c2c2c2;
    z-index: 1;

    .passbox2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 280px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .passbar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }
      .passbar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }
      .password_input {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 260px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }

  .newPassword {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 50%;
    left: 20%;
    flex-direction: column;
    margin-top: 10px;

  }


  .newPasswordbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 280px;
    height: 40px;
    top: 50%;
    left: 45%;
    background-color: #c2c2c2;
    z-index: 1;

    .newPasswordbox2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 280px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .newPasswordbar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }
      .newPasswordbar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }
      .newPassword_input {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 260px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }

  .newPassword2 {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 60%;
    left: 20%;
    flex-direction: column;
    margin-top: 10px;

  }


  .newPassword2box1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 280px;
    height: 40px;
    top: 60%;
    left: 45%;
    background-color: #c2c2c2;
    z-index: 1;

    .newPassword2box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 280px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .newPassword2bar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }
      .newPassword2bar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }
      .newPassword2_input {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 260px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }

  .btn_group {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 80%;

    .mypage_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .btnMypage {
        text-decoration: none;
        color: #FFFFFF;
      }

      .btnMypage:hover {
        color: #666;
      }
    }

    .chgpassword_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .btnChgpassword {
        text-decoration: none;
        color: #FFFFFF;
      }

      .btnChgpassword:hover {
        color: #666;
      }
    }
  }


}
