.chat_detail {
  .chatbox {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 600px;
    height: 40px;
    top: 91%;
    left: 20%;
    background-color: #c2c2c2;
    z-index: 1;

    .chatbox2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 600px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .chatbar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }

      .chatbar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 595px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }

      .chat_input1 {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 580px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }

  .recv_text {
    position: absolute;
    left: 26%;
    top: 2%;
    height: 10%;
    width: 49%;
    color: #ffffff;
    font-size: 160%;
    font-family: "DungGeunMo";
    font-weight: bold;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 1;
  }

  .title_line1 {
    position: absolute;
    left: 3%;
    top: 12%;
    height: 0.5%;
    width: 93%;
    background-image: linear-gradient(100deg, white 80%, transparent 0%);
    background-size: 30px 1px; /* 점의 간격을 조정할 수 있습니다. */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 4;
  }

  .title_line3 {
    position: absolute;
    left: 3%;
    top: 85%;
    height: 0.5%;
    width: 93%;
    background-image: linear-gradient(100deg, white 80%, transparent 0%);
    background-size: 30px 1px; /* 점의 간격을 조정할 수 있습니다. */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 4;
  }

  .back_btn {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    left: 0%;
    top: 89%;
    height: 8%;
    width: 20%;
    z-index: 4;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    .back {
      display: flex;
      text-decoration: none;
      color: #ffffff;
    }

    .back:hover {
      color: #666;
    }
  }
  .send_btn {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    left: 80%;
    top: 89%;
    height: 8%;
    width: 20%;
    z-index: 4;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    .send {
      display: flex;
      text-decoration: none;
      color: #ffffff;
    }
    .send:hover {
      color: #666;
    }
  }
}
