.emailauth_content {
  height: 5vh;
  width: 100%;
  position: relative; // 부모선언
  border: 10px solid gray;
  .top {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    .topbox1 {
    }
  }
}
