.emailauth_content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    .top {
        position:absolute;
        width: 100%;
        height: 50%;
        top: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .topbox1 {
            position: absolute;
            left: 0;
            top: -0.5%;
            right: 0;
            height: 2.5%;
            background-color: #bebfd5;
        }
        


     }    
}