.findpassword_component {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textarea {
    margin-top: -40%;
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
}

.email {
    display: inline-block;
    /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 88px;
    height: 40px;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    left: 20%;
    top: 40%;
}

.email_box1 {
    display: inline-block;
    /* 옆으로 나열 */
    position: absolute;
    left: 40%;
    top: 40%;
    width: 280px;
    height: 40px;
    background-color: #c2c2c2;
    z-index: 1;

    .email_box2 {
        display: inline-block;
        /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 35px;
        background-color: #d0d0d0;
        margin-top: 5px;
        overflow: visible;
        left: 2.5px;
        top: 0px;
        z-index: 2;

        .email_bar1 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 1px;
            top: -3px;
            width: 0.1%;
            height: 100%;
            background-color: #030303;
            z-index: 4;
        }

        .email_bar2 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 2px;
            top: -3px;
            width: 272px;
            height: 1%;
            background-color: #030303;
            z-index: 5;
        }

        .email_input {
            input {
                display: inline-block;
                /* 옆으로 나열 */
                color: #020202;
                position: absolute;
                width: 260px;
                height: 24px;
                flex-direction: column;
                border-color: transparent;
                /*테두리 투명*/
                outline: none;
                /* 파란색 테두리 제거 */
                font-family: "DungGeunMo", sans-serif;
                font-size: 19px;
                z-index: 3;
                left: 5px;
                top: 0%;
            }
        }
    }
}

.eclick_box1 {
    display: inline-block;
    /* 옆으로 나열 */
    position: absolute;
    left: 72%;
    top: 40%;
    width: 30px;
    height: 30px;
    background-color: #636363;
    margin-top: 5px;
    z-index: 1;

    .eclick_box2 {
        display: inline-block;
        /* 옆으로 나열 */
        position: absolute;
        left: 0%;
        width: 26px;
        height: 26px;
        background-color: #dedfe2;
        overflow: visible;
        margin-top: 2px;
        margin-left: 2px;
        z-index: 2;

        .eclick_bar1 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 0%;
            top: 0%;
            width: 1px;
            height: 26px;
            background-color: #000000;
            z-index: 5;
        }

        .eclick_bar2 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 0%;
            top: 0%;
            width: 26px;
            height: 1px;
            background-color: #000000;
            z-index: 5;
        }

        .emailclick {
            display: inline-block;
            /* 옆으로 나열 */
            border-style: none;
            position: absolute;
            font-size: 24px;
            left: 5%;
            top: 5%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
            background-color: #bdbec3;
            font-weight: bold;
            font-family: "DungGeunMo", sans-serif;
            z-index: 4;
        }
    }
}

.icon-wrapper {
    /* 아이콘 크기 조절 */
    width: 30px;
    height: 34px;
}

.authcode {
    display: inline-block;
    /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 88px;
    height: 40px;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    left: 20%;
    top: 50%;
}

.authcode_box1 {
    display: inline-block;
    /* 옆으로 나열 */
    position: absolute;
    left: 40%;
    top: 50%;
    width: 280px;
    height: 40px;
    background-color: #c2c2c2;
    z-index: 1;

    .authcode_box2 {
        display: inline-block;
        /* 옆으로 나열 */
        position: relative;
        width: 275px;
        height: 35px;
        background-color: #d0d0d0;
        margin-top: 5px;
        overflow: visible;
        z-index: 2;

        .authcode_bar1 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 1px;
            top: -3px;
            width: 0.1%;
            height: 100%;
            background-color: #030303;
            z-index: 4;
        }

        .authcode_bar2 {
            display: inline-block;
            /* 옆으로 나열 */
            position: absolute;
            left: 2px;
            top: -3px;
            width: 272px;
            height: 1%;
            background-color: #030303;
            z-index: 5;
        }

        .authcode_input {
            input {
                display: inline-block;
                /* 옆으로 나열 */
                color: #020202;
                position: relative;
                width: 260px;
                height: 24px;
                flex-direction: column;
                border-color: transparent;
                /*테두리 투명*/
                outline: none;
                /* 파란색 테두리 제거 */
                font-family: "DungGeunMo", sans-serif;
                font-size: 19px;
                z-index: 3;
            }
        }
    }
}

.sign_box1 {
    display: inline-block;
    /* 옆으로 나열 */
    position: absolute;
    width: 120px;
    height: 45px;
    left: 45%;
    top: 75%;
    background-color: #ffffff;
    z-index: 1;

    .sign_box2 {
        display: inline-block;
        /* 옆으로 나열 */
        position: absolute;
        width: 118px;
        height: 43px;
        left: 0;
        top: 0;
        background-color: #d0d0d0;
        overflow: visible;
        margin-top: 1px;
        margin-left: 1px;
        z-index: 2;
    }

    .sign_bar1 {
        display: inline-block;
        /* 옆으로 나열 */
        position: absolute;
        left: 2px;
        top: 2px;
        width: 1px;
        height: 41px;
        background-color: #000000;
        z-index: 6;
    }

    .sign_bar2 {
        display: inline-block;
        /* 옆으로 나열 */
        position: absolute;
        left: 2px;
        top: 2px;
        width: 116px;
        height: 1px;
        background-color: #000000;
        z-index: 6;
    }

    .signup {
        border-style: none;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        font-family: "DungGeunMo", sans-serif;
        color: #FFFFFF;
        background-color: #c2c2c2;
        width: 116px;
        height: 41px;
        left: 0;
        top: 0;
        z-index: 5;
        margin-top: 1px;
        margin-left: 1px;
        cursor: pointer;

    }
}

.login_link {
    display: inline-block;
    color: #030303;
    font-size: 20px;
    font-weight: bold;
    font-family: "DungGeunMo", sans-serif;
    position: absolute;
    left: 39.2%;
    top: 85%;
    width: 200px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;

    .login {
        text-decoration: none;
        color: #FFFFFF;
    }

    .login:hover {
        color: #666;
    }
}