.login_content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .email {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 100px;
    height: 40px;
    top: 40%;
    left: 25%;
    flex-direction: column;
    margin-top: 10px;

  }

  .emailbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 280px;
    height: 40px;
    top: 40%;
    left: 45%;
    background-color: #c2c2c2;
    z-index: 1;

    .emailbox2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 280px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .emailbar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }
      .emailbar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }
      .email_input {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 260px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }



  .password {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    width: 100px;
    height: 40px;
    top: 50%;
    left: 25%;
    flex-direction: column;
    margin-top: 10px;

  }


  .passbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    width: 280px;
    height: 40px;
    top: 50%;
    left: 45%;
    background-color: #c2c2c2;
    z-index: 1;

    .passbox2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      width: 280px;
      height: 36px;
      left: 0px;
      top: 0px;
      background-color: #d0d0d0;
      overflow: visible;
      margin-top: 5px;
      z-index: 2;

      .passbar1 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 0.8px;
        height: 36px;
        left: 2.5px;
        top: -2.5px;
        background-color: #000000;
        z-index: 4;
      }
      .passbar2 {
        display: inline-block; /* 옆으로 나열 */
        position: absolute;
        width: 275px;
        height: 0.8px;
        left: 2.5px;
        top: -3px;
        background-color: #000000;
        z-index: 4;
      }
      .password_input {
        input {
          display: inline-block; /* 옆으로 나열 */
          color: #222222;
          position: relative;
          width: 260px;
          height: 24px;
          flex-direction: column;
          border-color: transparent; /*테두리 투명*/
          outline: none; /* 파란색 테두리 제거 */
          font-family: "DungGeunMo", sans-serif;
          font-size: 19px;
          z-index: 3;
        }
      }
    }
  }


  .loginbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 47%;
    top: 400.8px;
    width: 126px;
    height: 45px;
    background-color: #ffffff;
    margin-top: 10px;
    z-index: 1;
  }

  .loginbox2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 47.1%;
    top: 399px;
    width: 125px;
    height: 42px;
    background-color: #d0d0d0;
    margin-top: 13px;
    overflow: visible;
    z-index: 2;
  }

  .btn_group {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 70%;

    .registerLink_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }

    .loginAction_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }
  }

  .btn_group2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80%;

    .findEmail_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;
      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }

    .findPassword_btn {
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;
      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }
  }
}
