.login_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .email {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 268px;
    width: 88px;
    height: 38px;
    flex-direction: column;
    margin-top: -10px;
  }

  .emailbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38%;
    top: 240px;
    width: 280px;
    height: 40px;
    background-color: #c2c2c2;
    margin-top: 10px;
    z-index: 1;
  }

  .emailbox2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.4%;
    top: 240px;
    width: 274px;
    height: 34px;
    background-color: #d0d0d0;
    margin-top: 13px;
    overflow: visible;
    z-index: 2;
  }

  .emailbar1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.3%;
    top: 253px;
    width: 0.8px;
    height: 34px;
    background-color: #FFFFFF;
    z-index: 4;
  }

  .emailbar2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.4%;
    top: 253px;
    width: 275px;
    height: 0.8px;
    background-color: #FFFFFF;
    z-index: 5;
  }

  .email_input {
    input {
      display: inline-block; /* 옆으로 나열 */
      color: #222222;
      position: absolute;
      left: 38.8%;
      top: 256px;
      width: 260px;
      height: 24px;
      flex-direction: column;
      border-color: transparent; /*테두리 투명*/
      outline: none; /* 파란색 테두리 제거 */
      font-family: "DungGeunMo", sans-serif;
      font-size: 19px;
      z-index: 3;
    }
  }

  .password {
    display: inline-block; /* 옆으로 나열 */
    color: #FFFFFF;
    font-size: 22px;
    font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 335px;
    width: 88px;
    height: 38px;
    flex-direction: column;
    margin-top: -10px;
  }

  .passbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38%;
    top: 308px;
    width: 280px;
    height: 40px;
    background-color: #c2c2c2;
    margin-top: 10px;
    z-index: 1;
  }

  .passbox2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.4%;
    top: 308px;
    width: 274px;
    height: 34px;
    background-color: #d0d0d0;
    margin-top: 13px;
    overflow: visible;
    z-index: 2;
  }

  .passbar1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.3%;
    top: 321px;
    width: 0.8px;
    height: 34px;
    background-color: #FFFFFF;
    z-index: 4;
  }

  .passbar2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 38.4%;
    top: 320px;
    width: 275px;
    height: 0.8px;
    background-color: #FFFFFF;
    z-index: 5;
  }

  .password_input {
    input {
      display: inline-block; /* 옆으로 나열 */
      color: #222222;
      position: absolute;
      left: 38.8%;
      top: 323px;
      width: 260px;
      height: 24px;
      flex-direction: column;
      border-color: transparent; /*테두리 투명*/
      outline: none; /* 파란색 테두리 제거 */
      font-family: "DungGeunMo", sans-serif;
      font-size: 19px;
      z-index: 3;
    }
  }

  .loginbox1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 47%;
    top: 400.8px;
    width: 126px;
    height: 45px;
    background-color: #ffffff;
    margin-top: 10px;
    z-index: 1;
  }

  .loginbox2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 47.1%;
    top: 399px;
    width: 125px;
    height: 42px;
    background-color: #d0d0d0;
    margin-top: 13px;
    overflow: visible;
    z-index: 2;
  }

  .loginbar1 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 62.5%;
    top: 411px;
    width: 2.6px;
    height: 45px;
    background-color: #FFFFFF;
    z-index: 4;
  }

  .loginbar2 {
    display: inline-block; /* 옆으로 나열 */
    position: absolute;
    left: 46.95%;
    top: 453px;
    width: 130px;
    height: 3px;
    background-color: #030303;
    z-index: 5;
  }

  .search_email {
    display: inline-block;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    font-family: "DungGeunMo", sans-serif;
    position: absolute;
    left: 36%;
    width: 120px;
    height: 36px;
    margin-top: 499px;
  }

  .search_password {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-family: "DungGeunMo", sans-serif;
    position: absolute;
    left: 50%;
    width: 120px;
    height: 36px;
    margin-top: 500px;
  }

  .btn_group {
    position: relative;
    top: 70%;
    width: 100%;
    height: 10%;

    .registerLink_btn {
      right: 35%;
      position: absolute;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }

    .loginAction_btn {
      left: 35%;
      position: absolute;
      display: inline-block;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;

      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }
  }

  .btn_group2 {
    position: relative;
    top: 80%;
    width: 100%;
    height: 10%;

    .findEmail_btn {
      position: absolute;
      display: inline-block;
      left: 35%;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;
      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }

    .findPassword_btn {
      right: 35%;
      position: absolute;
      display: inline-block;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background: none;
      border: none;
      cursor: pointer;
      .Account {
        text-decoration: none;
        color: #FFFFFF;
      }

      .Account:hover {
        color: #666;
      }
    }
  }
}
