@font-face {
    font-family: 'DungGeunMo';
    src: url('../fonts/DungGeunMo.ttf') format('truetype');
  }
  
  html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    height: 100%;
    padding: 0;
    font-size: 12pt;
    font-family: "verdana";
    font-weight: bolder;
    text-align: center;
    background-color: #00017F;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px;
    border-style: ridge;
  }
  
  #wrap {
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }
  
  .top {
    width: 100%;
    height: 15%;
    position: relative;
  }
  
  .mid {
    width: 100%;
    height: 40%;
    position: relative;
    float: left;
  }
  
  .bottom {
    width: 100%;
    height: 45%;
    position: relative;
    clear: both;
  }
  
  .mid .textarea {
    width: 80%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 10%;
  }
  
  .mid .textarea .decoMsg {
    width: 100%;
    height: 80%;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "DungGeunMo", sans-serif;
    color: white;
  }
  
  .bottom .btn_area {
    display: grid;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    bottom: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn_grey {
    position: absolute;
    width: 600px;
    height: 150px;
    outline: solid 5px #c2c2c2;
    border-left: solid 5px #000000;
    border-top: solid 5px #000000;
    background-color: #d0d0d0;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    font-family: "DungGeunMo", sans-serif;
  }
  
  .btn_top {
    top: 10%;
  }
  