.main_content {
  height: 800px; // 상위 컨테이너의 높이 설정
  width: 100%;
  position: relative;
  display: flex;


  .top {
    position: absolute;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid black;

    .topbox1 {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      height: 50px;
      background-color: #BEBFD5;
    }

    .topbox2 {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 1px;
      height: 45px;
      background-color: #545296;
      z-index: 2;
    }

    .topbox3 {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 2px;
      height: 40px;
      background-color: #00017F;
      z-index: 3;
    }

    .sicon_box1 {
      position: absolute;

      background-color: #ffffff;
      z-index: 4;
    }

    .sicon_box2 {
      position: absolute;

      background-color: #C2C2C2;
      z-index: 5;
    }

    .sicon_box3 {
      position: absolute;

      z-index: 6;
      background-color: #ffffff;
    }

    .sicon_bar1 {
      position: absolute;

      background-color: #000000;
      z-index: 6;
    }

    .sicon_bar2 {
      position: absolute;

      background-color: #000000;
      z-index: 6;
    }

    .home_box1 {
      position: absolute;

      background-color: #ffffff;
      z-index: 4;
    }

    .home_box2 {
      position: absolute;

      background-color: #C2C2C2;
      z-index: 5;
    }

    .home_bar1 {
      position: absolute;

      background-color: #000000;
      z-index: 6;
    }

    .home_bar2 {
      position: absolute;

      background-color: #000000;
      z-index: 6;
    }

    .home_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      font-family: "DungGeunMo";
      font-weight: bold;
      z-index: 5;
      background-color: #ffffff;
      border: none;
      outline: none;
      cursor: pointer;

      .home {
        text-decoration: none;
        color: #000000;
      }

      .home:hover {
        color: #666;
      }

      .icon-wrapper {
        top: 10%;
        color: #ffffff; /* 바탕색: 하얀색 */
        background-color: #000000; /* 테두리 색: 검은색 */
        border-radius: 50%;
        padding: 4px;
        border: 2px solid #666;
      }
    }

    .ficon_box1 {
      margin-left: 9%; /* 아이콘을 오른쪽으로 이동 */
      color: #ffffff; /* 바탕색: 하얀색 */
      background-color: #000000; /* 테두리 색: 검은색 */
      border-radius: 50%;
      padding: 4px;
      border: 2px solid #666;
    }

    .ficon_box2 {
      position: absolute;
      background-color: #C2C2C2;
      z-index: 5;
    }

    .ficon_box3 {
      position: absolute;
      z-index: 6;
      background-color: #ffffff;
    }

    .ficon_bar1 {
      position: absolute;
      background-color: #000000;
      z-index: 6;
    }

    .ficon_bar2 {
      position: absolute;
      background-color: #000000;
      z-index: 6;
    }

    .title {
      color: #000;
      font-size: 35px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 45%;
      top: 76px;
    }
  }

  .left_container {
    position: absolute;
    top: 150px;
    bottom: 0; /* Stretch to the bottom of the parent container */
    left: 0;
    width: 40%;
    height: 80%; /* Occupies 75% of the parent's height */
    display: flex;
    flex: 1;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    .logo {
      color: #000;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
    }
  }

  .right_container {
    position: absolute;
    top: 150px; /* Adjust the top position as needed */
    right: 0;
    width: 60%;
    height: 100%; /* Occupies 75% of the parent's height */
    text-align: center;
    display: flex;
    flex: 1;

    .text_box1 {
      position: absolute;

      width: 95%;
      height: 95%;
      background-color: #C2C2C2;
      z-index: 1;
    }

    .text_box2 {
      position: absolute;
      left: 0.5%;
      top: 0.5%;
      bottom: 0.5%;
      right: 0.5%;
      width: 99%;
      height: 99%;
      background-color: #111111;
      z-index: 2;
    }

    .text_box3 {
      position: absolute;
      left: 0.5%;
      top: 0.5%;
      bottom: 0.5%;
      right: 0.5%;
      width: 99%;
      height: 98%;
      background-color: #00017F;
      z-index: 3;
    }

    .text_line1 {
      position: absolute;
      left: 0.5%;
      top: 0.5%;
      bottom: 0.5%;
      right: 0.5%;
      width: 99%;
      height: 98%;
      background-color: #000;
      z-index: 4;
    }

    .text_line2 {
      position: absolute;
      top: 13%;
      left: 12px;
      height: 101%;
      width: 1%;
      background-color: #000;
      z-index: 5;
    }

    .category_box1 {
      position: absolute;
      left: 35%;
      top: 10%;
      height: 8%;
      width: 30%;
      background-color: #ffffff;
      color: #00017F;
      font-size: 25px;
      font-family: "DungGeunMo";
      font-weight: bold;
      display: flex;
      justify-content: center; /* 가로 중앙 정렬 */
      align-items: center; /* 세로 중앙 정렬 */
      z-index: 3;
    }

    .text_main {
      position: absolute;
      left: 25%;
      width: 50%;
      top: 30%;
      color: #ffffff;
      font-size: 25px;
      font-family: "DungGeunMo";
      font-weight: bold;
      display: flex;
      justify-content: center; /* 가로 중앙 정렬 */
      align-items: center; /* 세로 중앙 정렬 */
      z-index: 4;

    }

    .category_box2 {
      position: absolute;
      left: 35%;
      top: 70%;
      height: 8%;
      width: 30%;
      background-color: #ffffff;
      color: #00017F;
      font-size: 25px;
      font-family: "DungGeunMo";
      font-weight: bold;
      display: flex;
      justify-content: center; /* 가로 중앙 정렬 */
      align-items: center; /* 세로 중앙 정렬 */
      z-index: 5;
    }

    .login_btn {
      display: inline-block;
      position: absolute;
      font-size: 20px;
      font-family: "DungGeunMo";
      font-weight: bold;
      left: 0%;
      top: 80%;
      height: 8%;
      width: 100%;
      z-index: 4;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      .login {
        text-decoration: none;
        color: #ffffff;
      }

      .login:hover {
        color: #666;
      }
    }

    .center_content {
      top: 150px;
    }

    .register_btn {
      display: inline-block;
      position: absolute;
      font-size: 20px;
      font-family: "DungGeunMo";
      font-weight: bold;
      left: 0%;
      top: 88%;
      height: 8%;
      width: 100%;
      z-index: 4;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      .register {
        text-decoration: none;
        color: #ffffff;
      }

      .register:hover {
        color: #666;
      }
    }

  }
}
