.mypage_content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .communi_btn1 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    left: 16%;
    top: 40%;
    height: 7%;
    width: 30%;
    z-index: 4;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    .text {
      text-decoration: none;
      color: #ffffff;
    }

    .text:hover {
      color: #666;
    }
  }

  .communi_btn2 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    left: 16%;
    top: 45%;
    height: 7%;
    width: 30%;
    z-index: 4;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    .send {
      text-decoration: none;
      color: #ffffff;
    }

    .send:hover {
      color: #666;
    }
  }

  .communi_btn3 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    left: 16%;
    top: 50%;
    height: 7%;
    width: 30%;
    z-index: 4;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    .recv {
      text-decoration: none;
      color: #ffffff;
    }

    .recv:hover {
      color: #666;
    }
  }
  .account_btn1 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    right: 13%;
    top: 40%;
    height: 7%;
    width: 30%;
    z-index: 5;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .logout {
      text-decoration: none;
      color: #ffffff;
    }

    .logout:hover {
      color: #666;
    }
  }

  .account_btn2 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    right: 13%;
    top: 45%;
    height: 7%;
    width: 30%;
    z-index: 6;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .myAccount {
      text-decoration: none;
      color: #ffffff;
    }

    .myAccount:hover {
      color: #666;
    }
  }

  .account_btn3 {
    display: inline-block;
    position: absolute;
    font-size: 140%;
    font-family: "DungGeunMo";
    font-weight: bold;
    text-align: left;
    right: 13%;
    top: 50%;
    height: 7%;
    width: 30%;
    z-index: 7;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .chgpwd {
      text-decoration: none;
      color: #ffffff;
    }

    .chgpwd:hover {
      color: #666;
    }
  }
}
