.register_content {
  height: 600px; // 상위 컨테이너의 높이 설정
  width: 100%;
  position: relative;
  display: flex;
  .top {
      position:absolute;
      width: 100%;
      height: 12%;
      top: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .topbox1 {
          position: absolute;
          left: 0;
          top: -5px;
          right: 0;
          height: 50px;
          background-color: #BEBFD5;
      }
      .topbox2 {
          position: absolute;
          left: 2px;
          top: 3px;
          right: 2px;
          height: 39px;
          background-color: #545296;
          z-index: 2;
      }
      .topbox3 {
          position: absolute;
          left: 5px;
          top: 6px;
          right: 5px;
          height: 33px;
          background-color: #00017F;
          z-index: 3;
      }
      .title {
         color: #000;
         font-size: 35px;
         font-family: "DungGeunMo", sans-serif;
         font-weight: bold;
         position: absolute;
         left: 43%;
         top: 76px;
      }
      .topline1 {
          position: absolute;
          left: 0px;
          top: 115px;
          right: 0px;
          height: 7px;
          background-color: #FFFF;
          z-index: 1;
      }
      .topline2 {
          position: absolute;
          left: 0px;
          top: 115px;
          right: 0px;
          height: 5px;
          background-color: #000;
          z-index: 2;
      }
    }
    .left_container {
      position: absolute;
      top: 12%; 
      bottom: 0; /* Stretch to the bottom of the parent container */
      left: 0;
      width: 43%;
      display: flex;
      flex: 1;
      justify-content: center; /* Center the content horizontally */
      align-items: center; /* Center the content vertically */
     .logo {
       color: #000;
       font-size: 22px;
       font-family: "DungGeunMo", sans-serif;
       font-weight: bold;
       position: absolute;
       top: 280px;
     }
    }
    .right_container {
      position: absolute;
      top: 12%; /* Adjust the top position as needed */
      right: 0;
      width: 57%;
      height: 100%; /* Occupies 75% of the parent's height */
      text-align: center;
      display: flex;
      flex: 1;
      .name {
       display: inline-block; /* 옆으로 나열 */
       color: #020202;
       font-size: 22px;
       font-family: "DungGeunMo", sans-serif;
       font-weight: bold;
       position: absolute;
       left: 18%;
       top: 177px;
       width: 88px;
       height: 38px;
       flex-direction: column;
       margin-top: -10px;
      }
    .name_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 150px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .name_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 150px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .name_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 163px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .name_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 163px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    .name_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 166px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .nickname {
      display: inline-block; /* 옆으로 나열 */
      color: #020202;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 18%;
      top: 233px;
      width: 88px;
      height: 38px;
      flex-direction: column;
      margin-top: -10px;
    }
    .nickname_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 208px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .nickname_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 208px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .nickname_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 221px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .nickname_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 221px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    .nickname_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 224px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .phone {
      display: inline-block; /* 옆으로 나열 */
      color: #020202;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 19%;
      top: 289px;
      width: 75px;
      height: 38px;
      flex-direction: column;
      margin-top: -10px;
    }
    .phone_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 266px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .phone_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 266px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .phone_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 279px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .phone_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 278px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    
    .phone_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 281px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .input_container {
      display: flex;
      align-items: center;
    }
    .email {
      display: inline-block; /* 옆으로 나열 */
      color: #020202;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 18%;
      top: 361px;
      width: 88px;
      height: 38px;
      flex-direction: column;
      margin-top: -10px;
    }
    .email_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 328px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .email_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 328px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .email_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 341px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .email_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 341px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    .email_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 344px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .eclick_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 73%;
      top: 335px;
      width: 33px;
      height: 27px;
      background-color: #ffffff;
      margin-top: 10px;
      z-index: 1;
    }
    .eclick_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 73.2%;
      top: 334px;
      width: 29px;
      height: 23px;
      background-color: #DEDFE2;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .eclick_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 76.8%;
      top: 345px;
      width: 3px;
      height: 28px;
      background-color: #636363;
      z-index: 4;
    }
    .eclick_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 73%;
      top: 370px;
      width: 34px;
      height: 3px;
      background-color: #636363;
      z-index: 5;
    }
    .clickemail_btn {
      display: inline-block; /* 옆으로 나열 */
      border-style: none;
      position: absolute;
      font-size: 24px;
      left: 73.5%;
      top: 349px;
      width: 27px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      background-color: #BDBEC3;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      z-index: 6;   
    }
    .icon-wrapper {
      /* 아이콘 크기 조절 */
      width: 30px;
      height: 34px;
    }
    
    .password{
      display: inline-block; /* 옆으로 나열 */
      color: #020202;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 18%;
      top: 417px;
      width: 88px;
      height: 38px;
      flex-direction: column;
      margin-top: -10px;
    }
    .password_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 390px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .password_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 390px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .password_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 403px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .password_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 403px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    .password_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 406px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .repassword {
      display: inline-block; /* 옆으로 나열 */
      color: #020202;
      font-size: 22px;
      font-family: "DungGeunMo", sans-serif;
      font-weight: bold;
      position: absolute;
      left: 18%;
      top: 473px;
      width: 88px;
      height: 38px;
      flex-direction: column;
      margin-top: -10px;
    }
    .repassword_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37%;
      top: 453px;
      width: 280px;
      height: 40px;
      background-color: #c2c2c2;
      margin-top: 10px;
      z-index: 1;
    }
    .repassword_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.36%;
      top: 453px;
      width: 274px;
      height: 34px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .repassword_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 466px;
      width: 0.8px;
      height: 34px;
      background-color: #030303;
      z-index: 4;
    }
    .repassword_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 37.4%;
      top: 466px;
      width: 274px;
      height: 0.8px;
      background-color: #030303;
      z-index: 5;
    }
    .repassword_input {
      input {
        display: inline-block; /* 옆으로 나열 */
        color: #020202;
        position: absolute;
        left: 37.8%;
        top: 469px;
        width: 260px;
        height: 24px;
        flex-direction: column;
        border-color: transparent; /*테두리 투명*/
        outline: none; /* 파란색 테두리 제거 */
        font-family: "DungGeunMo", sans-serif;
        font-size: 19px;
        z-index: 3;
      }
    }
    .sign_box1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 46.4%;
      top: 540px;
      width: 126px;
      height: 45px;
      background-color: #ffffff;
      margin-top: 10px;
      z-index: 1;
    }
    .sign_box2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 46.5%;
      top: 538px;
      width: 125px;
      height: 42px;
      background-color: #D0D0D0;
      margin-top: 13px;
      overflow: visible;
      z-index: 2;
    }
    .sign_bar1 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 61.8%;
      top: 550px;
      width: 2.6px;
      height: 43px;
      background-color: #030303;
      z-index: 4;
    }
    .sign_bar2 {
      display: inline-block; /* 옆으로 나열 */
      position: absolute;
      left: 46.4%;
      top: 592px;
      width: 129px;
      height: 3px;
      background-color: #030303;
      z-index: 5;
    }
    .signup_btn {
      border-style: none;
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      background-color: #c2c2c2;
      position: absolute;
      left: 46.8%;
      top: 553px;
      width: 120px;
      height: 36px;
      z-index: 6;
      cursor: pointer;
    }
    .login_btn {
      display: inline-block;
      color: #030303;
      font-size: 16px;
      font-weight: bold;
      font-family: "DungGeunMo", sans-serif;
      position: absolute;
      left: 43.7%;
      top: 50px;
      width: 150px;
      height: 36px;
      margin-top: 555px;
      background: none;
      border: none;
      cursor: pointer;
      .login {
        text-decoration: none;
        color: #000000;
      }
      .login:hover {
        color: #666;
      }
    }
    }
  }

