.container {
  width: 65vw;
  height: 80vh;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 15%);
  .left {
    height: 100%;
    width: 50%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
    }
    .title_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: 80px;
      }
    }
  }
  .login_content {
    height: 100%;
    width: 50%;
    position: relative;
    .boss {
      
    }
  }
}
